
.vscode/**
.vscode-test/**
.gitignore
.gitattributes
.vscodeignore
.github/**
.claude/**
.frappe-copilot/**
node_modules/**
src/**
tsconfig.json
package-lock.json
pdf-test.mjs
CHANGELOG.md
Initial-idea.md
README.md
assets/docs/**
.yarnrc
.editorconfig
**/*.ts
**/*.map
**/*.tsbuildinfo
